.header-content{
    text-align: center;
}
.header p{
    font-size: 25px;
    padding: 10px;
}
.navigation{
    width: 100%;
}
#home-options .card{
    margin-left: 50px;
    margin-right: 50px;
    padding: 0px;
}
.footer-text{
    font-size: 16px;
    margin-top:0px;
}
footer{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
}
.footer-logo-text{
    padding: 5px;
    margin-left: 5px;
    width: 60px;
}
.footer-link{
    color: white;
}
.footer-link:hover{
    color: rgb(177, 177, 177);
}
.copyright-content{
    background-color: rgba(141, 141, 141, 0.685);
}
.copyright-content p{
    padding: 8px;
    text-align: center;
    font-size: 18px;
    color: rgb(219, 225, 231);
}
.card{
    border-radius: 0rem;
}
.card-body{
    margin: 0px;

}
.card:hover{
    box-shadow: 3px 3px 8px #636363;
    transition-duration: .1s;
}